<div class="bg">
    <div class="btnAnimales" (click)="clickBtn(1)">
        <img src="../../../assets/animales/1.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(2)">
        <img src="../../../assets/animales/2.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(3)">
        <img src="../../../assets/animales/3.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(4)">
        <img src="../../../assets/animales/4.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(5)">
        <img src="../../../assets/animales/5.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(6)">
        <img src="../../../assets/animales/6.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(7)">
        <img src="../../../assets/animales/7.png">
    </div>
    <div class="btnAnimales" (click)="clickBtn(8)">
        <img src="../../../assets/animales/8.png">
    </div>

  </div>
  