<div class="background"></div>

<div class="bubbles">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>

<!-- Contenedor del logo estático -->
<div class="container" id="splash-container">
  <img src="../../../assets/images/st_splash.png">
</div>

<!-- Contenedor del logo dinámico -->
<div class="container" id="dynamic-logo-container" style="display: none; justify-content: center; align-items: center; height: 100vh;">
  <img src="../../../assets/images/icon.png" alt="Logo">
</div>
